html, body {
    height: 100%;
    width: 100%;
  }
  .header{
    height: 10vh;
    width: 100%;
    background-color: #003D79;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px 0px 0px
  }
  .head{
    color: white;
  }
  .image{
    height: 80vh;
    justify-content: center;
    background-color: rgba(0, 61, 121, 0.59);
     padding: 100px 200px 200px 200px;
  }
  .me{
    text-align: left;
  }
  
  
  .footer{
    background-color: #003D79;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px 0px 0px
  }
  
  .foot{
    color: white;
  }