*{
    box-sizing: border-box;
   }
   html, body {
     height: 100%;
     width: 100%;
     
   }
   h2,p,h3{
     text-align: center;
   }
   .container{
     width: 80%;
     height: 100%;
     padding: 30px;
     
     margin: 0px 0px 30px 30px;
     
   }
   label{
     padding: 25px;
     font-family: sans-serif;
   }
    form{
     color: #25253C;
      margin-top: 0px;
      
   } 
   button{
     text-align: center;
     margin: 20px 0px 0px 120px;
     background-color: #3e4a7a;
     border: none;
     border-radius: 5px;
     cursor: pointer;
   }
   
   input:focus{
   background-color:#ffffff;
     border: none;
   }
   .gender{
     margin-top: 5px;
     margin-bottom: 5px;
   }
   .reg{
     width:150px;
     padding: 10px;
     margin: 18px 20px 0px 20px;
     bottom: 10px;
     border-radius: 10px;
   }